<!DOCTYPE HTML>
<html>
<head>
    <meta charset="UTF-8">
    <title>Icons preview</title>
    <style>
    {{{css}}}
    </style>
</head>
<body>


    <div class="wrapper">
        {{#resultSvg}}
        <h4>Folder: {{name}}</h4>
        <div class="color-wrapper">Default color: <i>{{color}}</i> <span class="color" style="background: {{color}}"></span></div>
        {{{content}}}
        {{/resultSvg}}
        <!-- <div id="result"></div> -->
    </div>

    <script>{{{js}}}</script>
</body>
</html>